{% extends "base.html" %}
{% block nav_info %}
    <li><a>后台管理</a></li>
{% endblock nav_info%}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-2">
            <div class="panel panel-success">
                <div class="panel-heading">操作</div>
                <ul class="panel-body">
                    <li class="box_show pa" value="add_article_box"><a>添加随笔</a></li>
                    <li class="box_show pa" value="add_category_box"><a>添加分类</a></li>
                    <li class="box_show pa" value="add_tag_box"><a>添加标签</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li role="presentation" class="na box_show active" value="add_article_box"><a href="#">随笔</a></li>
                <li role="presentation" class="na box_show" value="add_category_box"><a href="#">分类</a></li>
                <li role="presentation" class="na box_show" value="add_tag_box"><a href="#">标签</a></li>
            </ul>
{#            添加随笔内容框#}
            <div class="panel panel-default add_article_box">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">文章标题</span>
                    <label for="add_article_title"></label>
                    <input type="text" class="form-control" id="add_article_title" aria-describedby="basic-addon3">
                </div>

                <div class="panel-body">
                    <label for="">内容(Kindeditor编辑器，不支持拖放/粘贴上传图片) </label>
                     <div id="add_article_content">
                         <label for="add_article_content"></label>
                         <textarea name="content" id="add_article_content" rows="20" class="form-control"></textarea>
                     </div>
                </div>

                <label for="">所属分类</label>
                <select name="" id=""  class="form-control my_article_classes">
                    {% for category in category_list %}
                        {% if forloop.first %}
                            <option value="{{ category.id }}" selected>{{ category.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="">所属标签</label>
                <select name="" id="" multiple class="form-control my_article_tag">
                    {% for tag in tag_list %}
                        <option value="{{ tag.id }}">{{ tag.title }}</option>
                    {% endfor %}
                </select>
                <div class="add_article_error_info"></div>
                <button type="button" class="btn btn-success add_article_commit">提交</button>
            </div>
{#        添加文章分类#}
            <div class="add_category_box">add_category_box</div>

        {#        添加标签#}
            <div class="add_tag_box">add_tag_box</div>

        </div>
    </div>
</div>

{% endblock content%}

{% block script %}
    <script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>
    <script src="/static/js/my_back.js"></script>
{% endblock script%}


