/*index页面*/
/*导航处的logo样式设置*/
.my_nav_logo{
    height: 50px;
    width: 50px;
    margin-top: 0;
}
.my_login_head_img{
    margin-top: 10px;
    height: 30px;
    width: 30px
}
/*每个文章列表的样式*/
.my_content_container{
    border-bottom: dotted;
    color: #bbbbbb;
    padding-bottom: 10px;
}
/*文章描述下面的样式设置*/
span.small{
    margin-left: 10px;
}
/*文章列表处，头像的大小*/
.my_head_img{
    height: 50px;
    width: 50px;
}
/*文章列表距离顶部的距离*/
.my_first_page{
    padding-top: 10px;
}
/*登录页面背景*/
.my_login_back,.my_reg_back{
    background: url("/static/images/login.jpg") no-repeat;

}
/*登录页面的信息框样式*/
.my_login_box{
    border: #e0e0e0 solid;
    margin-top:100px;
    padding:30px;
}
/*注册页面样式*/
.my_reg_box{
    padding-top: 50px;
}
.my_reg_logo{
    padding-top: 100px;
}
.my_reg_head{
    height: 50px;
    width: 50px;
}
/*个人站点页面*/
/*.my_home_site_back{*/
/*    background: #d4d4d4;*/
/*}*/
.my_home_site_name{
    color: #ebccd1;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}
/*文章详情页*/
/*标题的字体*/
.my_article_title{
    font-size: 40px;
}
/*点赞的样式*/
.my_article_up_down{
    margin-top: 10px;
    display: block;
    height: 50px;
    width: 50px;
    line-height:50px;
    text-align:center;
}
/*点赞的图片*/
.my_article_up{
    background: url("/static/images/upup.gif");
}
.my_article_down{
    margin-left: 10px;
    background: url("/static/images/downdown.gif");
}
/*点赞提示信息*/
.up_down_info{
    display: block;
    padding-right: 20px;
}
/*文章内容盒子*/
.my_title_con_box{
    border: #d4d4d4 solid 1px;
    border-radius: 5px;
    padding: 10px;

}
/*评论树*/
.comment_item{
    margin-left: 20px;
}
#comment_tree{
    padding-top: 70px;
}
/*新加随笔*/
.add_article_box{
    margin-top: 10px;
}
.del_classes{
    position: absolute;
    bottom: 2px;
    right: 10px;
}