{#    分页#}

<nav aria-label="Page navigation">
  <div class="pagination">
    {% if data_page_info.current_page.has_previous %}
    <li><a href="?page_num={{ data_page_info.current_page.previous_page_number  }}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
    {% else %}
{#        这里只有把样式加到a标签上才能生效，加在li标签上无效#}
    <li><a href="" aria-label="Previous" class="btn-warning disabled"><span aria-hidden="true">上一页</span></a></li>
    {% endif %}



    {% for item in data_page_info.page_range %}

        {% if data_page_info.current_page_num == item %}
            <li class="active"><a href="?page={{ item }}" style="background-color: #1ab394">{{ item }}</a></li>
        {% else %}
            <li><a href="?page_num={{ item }}">{{ item }}</a></li>
        {% endif %}

    {% endfor %}



    {% if data_page_info.current_page.has_next %}
        <li><a href="?page_num={{ data_page_info.current_page.next_page_number  }}" aria-label="Next"><span aria-hidden="true">下一页</span></a>
    {% else %}
        <li class="disabled"><a href="" aria-label="Next" class="btn-warning disabled"><span aria-hidden="true">下一页</span></a>
    {% endif %}
    </li>
  </div>
</nav>