<div id="jstree1">
    <ul>
        <li class="jstree-open">Admin theme
            <ul>
                {% for sys_obj in sys_obj_set %}
                    <li class="jstree-closed" value="{{ sys_obj.id }}">{{ sys_obj.name }}--{{ sys_obj.abs_name }}
                        <ul>
                            {% for env_obj in sys_obj.environment.all%}
                                <li class="jstree-closed" value="{{ env_obj.id }}">{{ env_obj.name }}--{{ env_obj.abs_name }}
                                    <ul>
                                        {% for host_obj in env_obj.host_environment.all %}
{#                                                                    当前环境下的主机要与当前的系统_id相同，这块一定要注意#}
                                            {% if host_obj.system.id == sys_obj.id %}
                                                <li class="host" value="{{ host_obj.ip }}">
                                                    {{ host_obj.ip }}
                                                </li>
                                            {% endif %}

                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}

            </ul>
        </li>
    </ul>
</div>