
{% extends "problem/base.html" %}
{% block content %}
    <div class="ibox-content">
<div id="today" style="width:1000px; height:300px;">

</div>
<div id="this_month" style="width:1000px; height:300px;">

</div>
<div id="this_year" style="width:1000px; height:300px;">

</div>
    </div>

{% endblock %}
{% block foot_script %}

<script>
        var today_chart = echarts.init(document.getElementById('today'), 'white', {renderer: 'canvas'});
        var this_month_chart = echarts.init(document.getElementById('this_month'), 'white', {renderer: 'canvas'});
        var this_year_chart = echarts.init(document.getElementById('this_year'), 'white', {renderer: 'canvas'});

        $(
            function () {
                fetchTodayData(today_chart);
                fetchThisMonthData(this_month_chart);
                fetchThisYearData(this_year_chart);
            }
        );

        function fetchTodayData() {
            $.ajax({
                type: "GET",
                url: "{% url 'problem:problem_deal_time_json' %}?date=today",
                dataType: 'json',
                success: function (result) {
                    today_chart.setOption(result.data);
                }
            });
        }
        function fetchThisMonthData() {
            $.ajax({
                type: "GET",
                url: "{% url 'problem:problem_deal_time_json' %}?date=this_month",
                dataType: 'json',
                success: function (result) {
                    this_month_chart.setOption(result.data);
                }
            });
        }
        function fetchThisYearData() {
            $.ajax({
                type: "GET",
                url: "{% url 'problem:problem_deal_time_json' %}?date=this_year",
                dataType: 'json',
                success: function (result) {
                    this_year_chart.setOption(result.data);
                }
            });
        }
    </script>
{% endblock %}