{% extends "base.html" %}
{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-md-2">12</div>
{#        中间的文章内容列表处#}
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">首页</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
            {#文章列表#}
            <div class="my_first_page">
                {% for article_obj in article_page_info.current_page %}
{#                    管网处的media修改的#}
                    <div class="media my_content_container">
                        <div class="media-left media-middle">
{#                            点击用户头像，跳转到个人站点页面#}
                            <a href="/{{ article_obj.user.username }}/">
                                <img class="media-object my_head_img" src="media/{{ article_obj.user.avatar }}" alt="..." >
                            </a>
                        </div>
                        <div class="media-body">
                            <h5><a class="media-heading" href="/{{ article_obj.user.username }}/articles/{{ article_obj.pk }}">{{ article_obj.title }}</a></h5>
                            <div>
                                {{ article_obj.desc }}
                            </div>
                            <div>
                                {# 点击用户名，跳转到个人站点页面#}
                                <a href="/{{ article_obj.user.username }}/" class="small">{{ article_obj.user.username }}</a>
                                <span class="small">发布于({{ article_obj.create_time|date:"Y-m-d H:i" }})</span>
                                <span class="glyphicon glyphicon-comment small">评论({{ article_obj.comment_count }})</span>
                                <span class="glyphicon glyphicon-thumbs-up small">点赞({{ article_obj.up_count }})</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {#    分页#}

                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    {% if article_page_info.current_page.has_previous %}
                    <li><a href="?article_page={{ article_page_info.current_page.previous_page_number  }}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                    {% else %}
                    <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                    {% endif %}



                    {% for item in article_page_info.page_range %}

                        {% if article_page_info.current_page_num == item %}
                            <li class="active"><a href="?page={{ item }}">{{ item }}</a></li>
                        {% else %}
                            <li><a href="?article_page={{ item }}">{{ item }}</a></li>
                        {% endif %}

                    {% endfor %}



                    {% if article_page_info.current_page.has_next %}
                        <li><a href="?article_page={{ article_page_info.current_page.next_page_number  }}" aria-label="Next"><span aria-hidden="true">下一页</span></a>
                    {% else %}
                        <li class="disabled"><a href="" aria-label="Next"><span aria-hidden="true">下一页</span></a>
                    {% endif %}
                    </li>
                  </ul>
                </nav>

        </div>

        <div class="col-md-2">qwqw</div>
    </div>

</div>

{% endblock %}