<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 以最高的ie 浏览器 渲染  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- 官网中说明：
     为了确保适当的绘制和触屏缩放，需要在 <head> 之中添加 viewport 元数据标签。 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>博客系统</title>
    <!--    设置标题旁边的图标-->
    <link rel="icon" href="/static/images/favicon.ico" >
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
<!-- 自己写的样式 -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body class="my_login_back">

<div class="row">
    <div class="col-md-4 col-md-offset-4 my_login_box">
        <form action="" class="popup">
            {% csrf_token %}
            <div class="form-group">
                <label for="login_user_id">用户名</label>
                <input type="text" name="user" id="login_user_id" class="form-control">

            </div>
            <div class="form-group">
                <label for="login_pwd_id">密码</label>
                <input type="password" name="pwd" id="login_pwd_id" class="form-control">

            </div>
            <p class="my_login_error"></p>
            <div class="form-group">
              <div id="popup-captcha"></div>
            </div>
        </form>

        <button type="submit" class="btn btn-default" id="popup-submit">登录</button>
        <a type="button" class="btn btn-default" href="{% url 'register' %}">注册</a>
    </div>

</div>
</body>

<!-- 加载jquery,由于bootstrap需要使用jquery，多以要把jquery放在前面-->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
{#    加载bootstrap的js#}
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
  <!-- 引入封装了failback的接口--initGeetest -->
    <script type="text/javascript" src="/static/js/gt.js"></script>
{#    加载我自己写的js,这里的内容只需要在登录页面加载，由于是在加载页面的时候就运行，如果别的页面引入，前端控制台会出现报错。#}
{#    所以单独把登录页面的相关滑动验证的内容单独写在一个js#}
<script type="text/javascript" src="/static/js/login.js"></script>


</html>