{% extends 'base.html' %}
{% block head %}
    <!-- FooTable -->
    <link href="/static/css/plugins/footable/footable.core.css" rel="stylesheet">
    <link href="/static/css/my_style.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ role_obj.child_menu_name }}</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a>{{ role_obj.parent_menu_name }}</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>{{ role_obj.child_menu_name }}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>数据信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <a href="{% url 'asset:add_host' %}" class="btn btn-primary" style="margin-bottom: 10px">添加</a>
                        </div>
                        {#分页中，设置每页的数据量#}
                        {% include "data_nums_per_page.html" %}


                        <div class="input-group">
                             {#这里是输入用户的邮箱，角色编码或角色名称#}
{#                            按下回车就会搜索了#}
                            <input type="text" id="search" class="form-control" placeholder="搜索:name/abs_name">
{#                            <label class="btn btn-primary pull-right" id="search_button" style="margin-right: 5px">搜索</label>#}
                        </div>
{#                    写在<table>标签里面，其中5是最大显示个数#}
                        <table id="footable_id" class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                            <thead>
                            <tr>
                                <th data-toggle="true">IP</th>
                                <th>端口</th>
                                <th>备注</th>
                                <th>MAC</th>
                                <th>主机名</th>
                                <th>cpu</th>
                                <th>disk</th>
                                <th>mem</th>
                                <th>维护人</th>
                                <th>所属系统</th>
                                <th>所属环境</th>
                                <th>有效期</th>
                                <th>创建时间</th>
                                <th>修改时间</th>
                                <th>操作</th>
                                <th data-hide="all">该主机上安装的应用</th>
                                <th data-hide="all">该主机的登录用户</th>
                                <th data-hide="all">异步获取主机信息</th>

                            </tr>
                            </thead>
                            <tbody>
{#                            data_page_info.current_page#}
                            {% for host_obj in  data_page_info.current_page %}
                                <tr>
                                    <td>{{ host_obj.ip }}</td>
                                    <td>{{ host_obj.port }}</td>
                                    <td>{{ host_obj.note }}</td>
                                    <td>{{ host_obj.MAC }}</td>
                                    <td>{{ host_obj.hostname }}</td>
                                    <td>{{ host_obj.cpu }}</td>
                                    <td>{{ host_obj.disk }}</td>
                                    <td>{{ host_obj.mem }}</td>
                                    <td>{{ host_obj.operate_person }}</td>
                                    <td>{{ host_obj.system }}</td>
                                    <td>{{ host_obj.environment }}</td>
                                    <td>{{ host_obj.expire_date|date:"Y-m-d"}}</td>
                                    <td>{{ host_obj.create_time|date:"Y-m-d H:i"}}</td>
                                    <td>{{ host_obj.update_time|date:"Y-m-d H:i"}}</td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" style="color: white" href="{% url 'asset:edit_host' host_obj.id %}">编辑</a>
                                        <a class="btn btn-danger btn-xs" href="{% url 'asset:del_host' host_obj.id %}">删除</a>
                                    </td>
                                    <td>
                                        {% for app_obj in host_obj.application.all %}
                                            {% if forloop.last %}
                                                {{ app_obj.middleware }}--{{ app_obj.name }}
                                            {% else %}
                                                {{ app_obj.middleware }}--{{ app_obj.name }},
                                            {% endif %}
                                        {% endfor %}

                                    </td>

                                    <td>
                                        {% for user_obj in host_obj.login_user.all %}
                                            {% if forloop.last %}
                                                {{ user_obj.name_info }}--{{ user_obj.name }}
                                            {% else %}
                                                {{ user_obj.name_info }}--{{ user_obj.name }},
                                            {% endif %}
                                        {% endfor %}

                                    </td>
                                <td>
                                    <a class="btn btn-primary btn-xs sync_host_info" value="{{ host_obj.id }}">刷新</a>
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>

                    {#分页#}
                    {% include 'page.html' %}
                    </div>

                </div>
            </div>
        </div>
        </div>
{% endblock %}
{% block foot_script %}
    <!-- FooTable -->
    <script src="/static/js/plugins/footable/footable.all.min.js"></script>
{#    $.cookie需要该js#}
    <script src="/static/js/jquery.cookie.js"></script>
    <!-- Page-Level Scripts 按下回车的搜索功能，分页功能-->
   <script src="/static/js/my_footable_page.js"></script>
    <script>
    $(function () {

        function sleep(delay) {
          var start = (new Date()).getTime();
          while ((new Date()).getTime() - start < delay) {
            continue;
          }
        }
        $(".sync_host_info").click(function () {
            $.ajax({
                url: "{% url 'asset:sync_host_info' %}",
                data:{
                    id:$(".sync_host_info").attr("value")
                },
                success:function (res) {
                    if (res.success){
                        toastr.success("获取完成！刷新页面查看!没有数据，请查看异步任务结果中查看原因！");
                        {#sleep(800);#}
                        {#location.href='{% url 'asset:host' %}';#}

                    }
                }
            })
        })
    })
    </script>
{% endblock %}