{% extends  'rbac/base.html' %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="ibox col-lg-12">
        <div class="ibox-title">
            <h5>数据列表</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <a  class="btn btn-primary fa fa-plus-circle" href="{% url 'rbac:role_add' %}"> 添加</a>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>角色名称</th>

                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for role_obj in data_list %}
                    <tr>
                        <td>{{ role_obj.title }}</td>
                        <td>{{ role_obj.create_time|date:"Y-m-d H:i" }}</td>
                        <td>{{ role_obj.update_time|date:"Y-m-d H:i" }}</td>
                        <td><a class="fa fa-edit" href="{% url 'rbac:role_edit' pk=role_obj.id%}"></a>
                            <a class="fa fa-trash-o" style="color: red" href="{% url 'rbac:role_del' pk=role_obj.id %}"></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content%}