{% extends 'base.html' %}
{% load mytags %}
{% block head %}
    <!-- Sweet Alert -->
    <link href="/static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/static/css/plugins/jsTree/style.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ role_obj.child_menu_name }}</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a>{{ role_obj.parent_menu_name }}</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>{{ role_obj.child_menu_name }}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
    {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>服务器信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        {% include 'sys_env_host_jstree.html' %}

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>应用信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>应用名</th>
                                    <th>应用日志路径</th>
                                    <th>访问应用</th>
                                    <th>备注信息</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>日志输出</h5>
                        <button class="btn btn-primary btn-xs stop-tail">停止</button>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <pre id="output_append">

                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block foot_script %}

    <!-- Sweet alert -->
    <script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/static/js/plugins/jsTree/jstree.min.js"></script>
    <script>
    $(document).ready(function () {
         CreateWebSocket();

         $('#jstree1').jstree({
                'core' : {
                    'check_callback' : true
                },
                'plugins' : [ 'types', 'dnd'],

                'types' : {
                    'default' : {
                        'icon' : 'fa fa-folder'
                    },

                }
            })
    });


    function CreateWebSocket() {
        var socket = new WebSocket('ws://' + window.location.host + '/ws/');
        socket.onmessage = function (message) {
            toastr.success("开始输出日志！");
            var result = JSON.parse(message.data);
            var status = result.status;
            var data = result.data;
            var output_html = '';
            if (status === 0) {
    {#            $('#output_append').empty();#}
                output_html = data;
            }
            else if (status === 1) {
                $('#output_append').empty();
                output_html = data;
            }
            $("#output_append").prepend(output_html);
        }
    }

    $(function () {

        //事件委托方式才可以添加事件
        {##}
        $(document).on('click','.host',function(){
             $("tbody").html("");
             let ip = $(".host").attr("value");
             let tbody_html = "";
             $.ajax({
                 url:"{% url  'task_manage:get_application_by_ip'%}",
                 data:{
                     ip:ip
                 },
                 success:function (res) {
                     if (res.success){
                         let application_list = res.data;
                         $.each(application_list,function (index,application_obj) {
                             let name = application_obj.name;
                             let log_path = application_obj.log_path;
                             let access_url = application_obj.access_url;
                             let note = application_obj.note;
                             tbody_html += `<tr>
                                    <td>${name}</td>
                                    <td class="log_path">${log_path}</td>
                                    <td><a href="${access_url}">访问</a></td>
                                    <td>${note}</td>
                                    <td><span class="btn btn-primary btn-xs tester_tail_log">查看日志</span></td>
                                </tr>`
                         });
                         $("tbody").html(tbody_html)
                     }
                 }
             })
         });


        $(document).on('click','.tester_tail_log',function(){

             let ip = $("li.host[aria-selected='true']").attr("value");
             let log_path = $(this).parent("td").siblings(".log_path").text();
             $.ajax({
                 url:"{% url  'task_manage:tester_tail_log'%}",
                 type:"post",
                 data:{
                     csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                     ip:ip,
                     log_path:log_path
                 },
                 success:function (res) {
                    var obj = res;
                    console.log("llllllll",obj.status);
                    if (obj.status) {
                        toastr.success("执行成功！")
                    } else {
                         toastr.error(obj.error)
                    }
                 }
             })
         });


        $(".stop-tail").click(function () {
            $.ajax({
                url: "{% url 'task_manage:tail_stop' %}",
                timeout : 5000, //超时时间设置，单位毫秒
                type: 'POST',
                data: {
                    "status":"stop",
                     csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),},
                success: function (data) {
                    var obj = data;
                    if (obj.status) {
                        toastr.success("停止成功！")
                    } else {
                         toastr.error("停止失败！")
                    }

                }
            })
        })

    })
    </script>
{% endblock %}